body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120%;
    text-align: center;
    color: black;
}

/* Startpage */

#hero-image {
    background: url("../images/hero_image.webp");
    height: 80vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#nickname {
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

#start-game {
    border: 1px solid black;
    background-color: green;
    color: black;
    padding: 7px;
    text-decoration: none;
}
/* Gamepage */

.heading {
    text-align: center;
    width: 100%;
}

.play-area {
    background-color: lightgray;
    box-sizing: border-box;
    width: 80%;
    height: 80vh;
    margin: auto;
}

.choice-area h2 {
    padding-top: 30px;
}

.buttons {
    font-size: 150%;
    border: 3px solid black;
    margin: 3px;
}

/* Styling for scores */
.your-score {
    position: left;
}

.computer.score {
    position: right;
    box-sizing: border-box;
}

.rules-area {
    margin: 0px auto;
}

/* Style for pop-up if the user wins or lose */
#wins-pop {
    background: green;
    color: white;
    border: 2px solid black;
    z-index: 10;
    height: 40vh;
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
}

#wins-pop h3 {
    display: inline-block;
    vertical-align: middle;
}

#win-button {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 4px;
    margin-top: 25px;
}

#lose-pop {
    background: red;
    color: white;
    border: 2px solid black;
    z-index: 10;
    height: 40vh;
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#lose-button {
    text-transform: none;
    color: white;
    border: 2px solid white;
    padding: 4px;
}



/* Media queries for width 540px and down */
@media (max-width: 540px){
    
body {
    font-size: 100%;
}

/* Max 540px width for win/lose pop-up */
#wins-pop {
    width: 60vw;
    height: 20vh;
}

#lose-pop {
    width: 60vw;
    height: 20vh;
}

}

