body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120%;
    text-align: center;
    color: black;
}

.heading {
    text-align: center;
    width: 100%;
}

.play-area {
    background-color: lightgray;
    box-sizing: border-box;
    width: 80%;
    height: 80vh;
    margin: auto;
}

.choice-area h2 {
    padding-top: 15px;
}

.your-score {
    position: left;
}

.computer.score {
    position: right;
    box-sizing: border-box;
}